altair
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
et-xmlfile
executing
fonttools
gitdb
gitpython
h11
httpcore
httpx
idna
ipykernel
ipython
jedi
jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter-lsp
jupyter_client
jupyter_core
jupyter_events
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kaggle
kagglehub
kiwisolver
libsodium
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mistune
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook-shim
numpy
openpyxl
openssl
overrides
packaging
pandas
pandocfilters
parso
pillow
pip
platformdirs
prometheus_client
prompt-toolkit
protobuf
psutil
pure_eval
pyarrow
pycparser
pydeck
pygments
pyparsing
pysocks
python
python-dateutil
python-fastjsonschema
python-json-logger
python-slugify
pytz
pywin32
pywinpty
pyyaml
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikit-learn
scipy
seaborn
send2trash
setuptools
six
smmap
sniffio
soupsieve
sqlite
stack_data
streamlit
tenacity
terminado
text-unidecode
threadpoolctl
tinycss2
tk
toml
tornado
tqdm
traitlets
typing-extensions
typing_extensions
tzdata
urllib3
vc
vs2015_runtime
watchdog
wcwidth
webencodings
websocket-client
wheel
win_inet_pton
winpty
xgboost
xz
yaml
zeromq
zlib
